@model Recruitment_Support_System.Models.Vacancy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsibilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsibilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualifications)
        </dd>

    </dl>
</div>

<div class="btn btn-default">
    @Html.ActionLink("Apply", "Create", "Applicants")
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VacancyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
