@model Recruitment_Support_System.Models.Vacancy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AASL.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class=" js=js cssanimations=cssanimations csstransitions"=csstransitions" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title></title>

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
    <div>
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <input id="btntest" type="button" style="margin-left:85%;margin-top:-3%;" value="Apply Now" class="btn btn-default" data-dismiss="modal" style="margin-left:85%;margin-top:-3%;" onclick="location.href='@Url.Action("Create", "Applicant")'"/>
    </div>

    <script>


    </script>


    <div>
        <h5><strong><span class="underline">@Html.DisplayNameFor(model => model.Description):</span></strong></h5>
        <ul class="body_bullet_bia">
            @Html.DisplayFor(model => model.Description)
        </ul>
        <div class="space"></div>
    </div>

    <div>
        <h5><strong><span class="underline">@Html.DisplayNameFor(model => model.Qualifications):</span></strong></h5>
        <ul class="body_bullet_bia">
            @Html.DisplayFor(model => model.Qualifications)
        </ul>
        <div class="space"></div>
    </div>

    <div>
        <h5><strong><span class="underline">@Html.DisplayNameFor(model => model.Responsibilities)</span></strong></h5>
        <ul class="body_bullet_bia">
            @Html.DisplayFor(model => model.Responsibilities)
        </ul>
        <div class="space"></div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
