@model Recruitment_Support_System.Models.Applicant

@{
    ViewBag.Title = "Create";
}

 <h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Applicant</h4>

        
            <link href="~/Content/Stylesheets/2.css" rel="stylesheet" />
            <script src="~/Scripts/3.js"></script>

          
        </div>
   





    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicantId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicantId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicantId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



   <!--     <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div> -->


      <div class="form-group">
          @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" }) <!--Load the title-->
          <div class="input-group col-md-10">
              <span class="input-group-addon" style="background-color:rgb(0,0,205)"><i class="glyphicon glyphicon-birthday-cake" style="color:white"></i></span> 
                  @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                  


              @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
          </div>
      </div>
      


 <!--     <div class="form-group">
          <label class="col-md-4 control-label">Title</label>
          <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon" style="background-color:rgb(0,0,205)"><i class="glyphicons glyphicons-birthday-cake" style="color:white"></i></span>
                  <select name="state" class="form-control selectpicker">
                      <option value="title">Please select your title</option>
                      <option>Mr</option>
                      <option>Mrs</option>
                      <option>Ms</option>
                  </select>
              </div>
          </div>
      </div>  -->


        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group col-md-10">
                <span class="input-group-addon clr1" style="background-color:rgb(0,0,205)"><i class="glyphicon glyphicon-user clr2" style="color:white"></i></span>
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group col-md-10">
                <span class="input-group-addon" style="background-color:rgb(0,0,205)"><i class="glyphicon glyphicon-home" style="color:white"></i></span>
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group col-md-10">
                <span class="input-group-addon" style="background-color:rgb(0,0,205)"><i class="glyphicon glyphicon-earphone" style="color:white"></i></span>
                @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group  col-md-10">
                <span class="input-group-addon" style="background-color:rgb(0,0,205)"><i class="glyphicon glyphicon-envelope" style="color:white"></i></span>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group col-md-10">
                <span class="input-group-addon" style="background-color:rgb(0,0,205)"><i class="glyphicon glyphicon-birthday-cake" style="color:white"></i></span>
                @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.civil_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group  col-md-10">
                <span class="input-group-addon" style="background-color:rgb(0,0,205)"><i class="glyphicon glyphicon-birthday-cake" style="color:white"></i></span>
                @Html.EditorFor(model => model.civil_status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.civil_status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Next" class="btn btn-default" onclick="location.href='/EduQualifications/Create'"/>
            </div>
        </div>
    


     }


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
