@model Recruitment_Support_System.Models.EduQualification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EduQualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EQId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
